# Ignore all the sets of configuration
*

# Those files need to remain
!/.gitignore
!/README

# Files of example/
!/example/DESCRIPTION
!/example/bash_alias_extra
!/example/bash_extra
!/example/emacs_extra
!/example/gitconfig_extra
!/example/mutt_aliases
!/example/mutt_extra

# Files of default/
!/default/DESCRIPTION
!/default/bash_alias_extra
!/default/bash_extra
!/default/emacs_extra
!/default/gitconfig_extra
!/default/mutt_aliases
!/default/mutt_extra
