# Private settings of Home
/.bash_extra
/.bash_alias_extra
/.bash_history
/.gitconfig_extra
/.git-credentials
/.homeconfig_extra
/.mutt_aliases
/.mutt_extra

# Development paths
/archive
/data
/git
/include
/lib
/postgres
/workspace

# System-related paths
/.adobe
/.account
/.anthy
/.bfgminer
/.bitcoin
/.cache
/.ccache
/.cgminer
/.clamav
/.csp_ovftool*
/.cups
/.dbus
/.debug
/.DownloadManager
/.dropbox
/.eclipse
/.emacs.d
/.esd_auth
/.filezilla
/.fontconfig
/.gconf
/.gem
/.gimp*
/.gitp4*
/.gnash
/.gnupg
/.gstreamer*
/.gtk-bookmarks
/.Heroes*
/.ICEauthority
/.icedtea
/.irssi
/.java
/.lesshst
/.lldb-history
/.local
/.macromedia
/.minecraft
/.mozilla
/.mpd
/.mpdconf
/.mutt
/.m2
/.netrc
/.nexuiz
/.nv
/.odbc.ini
/.ovftool*
/.p4*
/.pki
/.prism
/.psql_history
/.pulse-cookie
/.pulse
/.purple
/.putty
/.RSA
/.rediscli_history
/.rnd
/.rtorrent.rc
/.smb*
/.ssh
/.subversion
/.swt
/.thumbnails
/.thunderbird
/.ttytterkey
/.uim.d
/.vboxclient*
/.vim
/.viminfo
/.VirtualBox
/.vnc
/.Xauthority
/.xonotic
/1
/perf.data
/VirtualBox VMs

# MacOSX paths
/.CFUserTextEncoding
/.DS_Store
/.Trash
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Linux paths
/desktop
/doc
/download
/media
/.xinitrc
/.config

# Windows paths
/AppData
/Contacts
/Favorites
/Links
/ntuser.*
/NTUSER.DAT*
/Saved Games/
/Searches
/Videos
/_viminfo
