# Private settings of Home
/.bash_extra
/.bash_alias_extra
/.bash_history
/.cwd
/.emacs_extra
/.gitconfig_extra
/.git-credentials
/.homeconfig_extra
/.mutt_aliases
/.mutt_extra
/.psqlrc_extra
/.wallpaper

# Development paths
/data
/extra
/git
/pgsql
/postgres
/stable

# System-related paths
/.adobe
/.account
/.android
/.anthy
/.bash_sessions
/.bfgminer
/.bitcoin
/.boot2docker
/.cache
/.ccache
/.cgminer
/.clamav
/.cpan
/.csp_ovftool*
/.cups
/.dbus
/.debug
/.dmrc
/.DownloadManager
/.dropbox
/.dvdcss
/.eclipse
/.emacs.d
/.esd_auth
/.fehbg
/.filezilla
/.fontconfig
/.gconf
/.gdb_history
/.gem
/.gimp*
/.gitp4*
/.gitreview
/.gnash
/.gnupg
/.gnuplot_history
/.gstreamer*
/.gtk-bookmarks
/.homebrew_analytics_user_uuid
/.hostname
/.Heroes*
/.i3*
/.ICEauthority
/.icedtea
/.inputrc
/.ipa
/.irssi
/.jasspa
/.java
/.lesshs*
/.lldb
/.lldb-history
/.local
/.macromedia
/.mail
/.mbsyncrc
/.minecraft
/.moc
/.mozilla
/.mpd
/.mpdconf
/.mutt
/.m2
/.netrc
/.nexuiz
/.nv
/.odbc.ini
/.openshot_qt
/.oracle_jre_usage
/.ovftool*
/.p4*
/.perltidyrc
/.pki
/.postgresql
/.prism
/.profile
/.psql_history*
/.pulse-cookie
/.pulse
/.purple
/.putty
/.python_history*
/.RSA
/.recently-used
/.rediscli_history
/.rnd
/.rtorrent.rc
/.scc_wifi_enroll.pid
/.sh_history
/.smb*
/.snes9x
/.sqlite_history
/.ssh
/.steam*
/.subversion
/.swt
/.thumbnails
/.thunderbird
/.tor
/.torrc
/.ttytterkey
/.uim.d
/.vas*
/.vboxclient*
/.vim
/.viminfo
/.VirtualBox
/.vnc
/.wget-hsts
/.wine
/.Xauthority
/.xonotic
/.xsession-errors*
/.zoom
/1
/dwhelper
/MyMachines
/perf.data
/perl5
/VirtualBox VMs
/Virtual Machines.localized
/VMware

# MacOSX paths
/.CFUserTextEncoding
/.DS_Store
/.Trash
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Linux paths
/desktop
/doc
/download
/media
/.config
/.xinitrc
/.xresources
/.xsession

# Windows paths
/AppData
/Contacts
/Favorites
/Links
/ntuser.*
/NTUSER.DAT*
/Saved Games/
/Searches
/Videos
/_viminfo
