# Ignore private settings
/.bash_extra
/.bash_alias_extra
/.bash_history
/.gitconfig_extra
/.git-credentials
/.homeconfig_extra
/.viminfo
/.ICEauthority
/.Xauthority
# Remove some system repositories that need to be kept private
/.adobe
/.anthy
/.cache
/.dbus
/.dropbox
/.eclipse
/.emacs.d
/.filezilla
/.fontconfig
/.gconf
/.gem
/.gimp*
/.gnupg
/.gstreamer*
/.gtk-bookmarks
/.icedtea
/.java
/.lesshst
/.local
/.macromedia
/.minecraft
/.mozilla
/.netrc
/.nexuiz
/.nv
/.pki
/.psql_history
/.pulse-cookie
/.pulse
/.putty
/.rediscli_history
/.smb*
/.swt
/.thumbnails
/.thunderbird
/.VirtualBox
/VirtualBox VMs
# Important to remove that, never put an ssh key in public!
/.ssh
/.uim.d
# Some virtual box modules
/.vboxclient*
# Ignore default development repositories
/make
/postgres
/workspace
# Ignore all the MacOSX-related files and folders
/.CFUserTextEncoding
/.DS_Store
/.Trash
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
# Ignore all the Linux-related files and folders
/desktop
/doc
/download
/media
/.xinitrc
/.config
