#--------------------------------------------------------------------------
# .gitconfig
#	GIT global settings
#	Copyright (c) 2010-2012, Michael Paquier
#--------------------------------------------------------------------------
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	menage = clean -d -x -f
	undo = reset --hard HEAD~1
	record = log --find-renames -p
[color]
	ui = auto
[core]
	editor = emacs -nw
[push]
	default = matching
[include]
	path = .gitconfig_extra
